@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") ;
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") ;
    font-weight: 700;
    font-style: normal;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
}

body {
  font-family: "Open Sans";
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}



  @media screen and (max-width: 640px) {  
 
    div._hidden {
      padding-top: 3rem;
    }

    div.popup {
      width: 280px;
    }

    div.header-menu-logo {
      display: flex;
      flex-direction: column;
      width:92%;
    }

   .noemi-logo {
      width: 270px !important;
    }

    .header-logo {
      margin-top: 178px;
      order: 2;
    }
    
    .menu {
      align-self: flex-end;
      order: 1;
    }

    header.header {
      background-image: url("../img/banner-mobile.jpg");
      padding-bottom: 210px;
    }

    h2.trend-name {
      font-size: 16px;
    }

    h3.trend-item-name {
      font-size: 17px;
    }

    .header-blog {
      margin-top: 32px;
    }

    div.container {
      flex-direction: column;
      width: 92%;
    }

    .menu-list {
      display: none;
    }

    .header-title {
      font-size: 26px;
      width: 80%;
      line-height: 1.4em !important;
    }

    .news-item {
      flex-direction: column;
    }

    h3.news-item-author {
      margin-bottom: 15px;
    }

    article.news-item {
      margin-bottom: 0;
    }

    .news-item:nth-child(n+1)::after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      margin: 19px auto 42px auto;
      background-color: #eeeeee;
    }

    .product-blocks {
      flex-direction: column;
      align-items: center;
    }

    .product-block {
      width: 100%;
    }

    .product-block:nth-child(n+2) {
      margin-top: 27px;
    }

    article.product-block:last-child { 
      padding-right: 0;
    }

    ul.tags {
      justify-content: space-between;
    }

    footer.container {
      width: 92%;
    }

    nav.footer-size {
      padding: 0;
    }

    div.copyright-link {
      margin-top: 50px;
    }

  }

  @media (max-width: 640px) and (orientation: portrait) {
    .trend-block-img {
      width: 100%;
    }

    .trend-list {
      flex-direction: column;
    }

    .trend-block-img:nth-child(n+2) {
      margin-top: 3px;
    }
  }

  @media (max-width: 640px) and (orientation: landscape) {
    .trend-block-img {
      width: 49%;
    }

    .trend-list {
      flex-wrap: wrap;
    }

    .trend-block-img:nth-child(even) {
      margin-left: 1%;
    }

    .trend-block-img:nth-child(n + 3) {
      margin-top: 3px;
    }

    div.post-info {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 1200px) {
    .header {
      padding: 40px 0 125px;
      background-image: url("../img/banner-bg-tablet.jpg");
    }
    h1.header-title {
      line-height: 1.4;
      max-width: 600px;
    }

    div.header-menu-logo {
      width: 91%;
    }

    a.noemi-logo {
      width: 160px;
    }

    .header-blog {
      margin-top: 6.1rem;
    }

    .menu-list {
      display: none;
    }

    .menu-button {
      align-items: flex-end;
    }

    .header-title {
      font-size: 40px;
    }
    .trend-list {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .trend-block-img {
      width: calc(50% - 2px) !important;
      margin-right: 4px;
      margin-bottom: 4px;
    }

    .trend-item-name-link {
      font-size: 14px;
      cursor: pointer;
    }

    div.container {
      width: 90%;
    }

    .news-item {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0 !important;
    }

    .news-item:nth-child(n+1):nth-child(-n+4)::after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      margin: 19px auto 42px auto;
      background-color: #eeeeee;
    }

    .news-item-image {
      width: 100%;
    }

    .news {
      width: 55%;
    }

    .product-block {
      width: 48%;
    }

    .product-block:nth-child(2n+2) {
      margin-left: 4%;
    }

    .product-block:nth-child(n+3) {
      margin-top: 28px;
    }

    .side-content {
      padding-left: 35px;
      width: 40%;
    }

    .news-item-info {
      margin-top: 17px;
    }

    div.products {
     margin-top: 50px; 
    }


    div.product-blocks {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    article.product-block:first-child {
      padding-left: 0;
    }

    footer.footer {
      margin-top: 50px;
    }

    footer.container {
      width: 90%;
    }

    nav.footer-size {
      padding: 0;
    }

    div.copyright-link {
      margin-top: 50px;
    }
  }


  @media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {

    div.trend-block-img:nth-child(2n + 2) {
      margin-right: 0;
    }

    div.trend-block-img:nth-child(n + 3) {
      margin-top: 3px;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  
    div.trend-block-img:nth-child(2n + 2) {
      margin-right: 0;
    }

  }

  @media (min-width: 1201px) {
    .header {
      background-image: url("../img/banner-bg.jpg");
    }

    .header-blog {
      margin-top: 6.1rem;
    }

    .menu-button {
      display: none;
    }
    .trend-block-img {
      width: 97%;
    }

    .header-title {
      font-size: 45px;
      width: 690px;
    }

    .news {
      flex-grow: 1;
      margin-right: 35px;
      margin-left: 15px;
    }

    .news-item:last-child {
      margin-bottom: 0;
    }

    .news-item-image {
      margin-right: 32px;
    }

    .news-item-info{
      width: 43%;
    }

    .trend-item-name-link {
      font-size: 20px;
    }

    .trend-block-img:nth-child(n+2) {
      margin-left: 0.2%;
    }

    .product-block {
      width: 30%;
    }

    .product-block:nth-child(n+2) {
      margin-left: 5%;
    }

    .side-content {
      width: 272px;
      margin-right: 15px;
      flex-shrink: 0;
    }

    .news-item-info {
      box-sizing: border-box;
      padding-top: 0;
    }
  }

  ._hidden {
    display: flex;
    display: none;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: fixed;
    padding-top: 15rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  ._hidden::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }

  .popup-close {
    width: 22px;
    height: 20px;
    position: absolute;
    top: -24px;
    right: 0;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
    cursor: pointer;
  }

  .popup-close:hover {
    background-color: #b59f5b;
  }

  .popup {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px 55px;
    width: 330px;
    position: relative;
    z-index: 3;
    background-color: #ffffff;
  }

  .popup-name {
    padding-top: 0.7rem;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .popup-name:after {
    content: "";
    display: block;
    height: 3px;
    width: 67px;
    margin: 10px auto 1.5rem auto;
    background-color: #e1d9bd;
  }

  .select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 18px;
    padding-right: 25px;
    margin-top: 5px;
    border: none;
    background-color: #f4f7f6;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333333;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 10px center;
  }
  
  .select:focus {
    outline: 1px solid #b59f5b;
    outline-offset: 4px;
  }
  .button {
    font-weight: bold;
    text-transform: uppercase;
  }

  .form-group:nth-child(n+2) {
    margin-top: 25px;
  }

  .checkbox {
    display: flex;
    padding-top: 5px;
  }

.block-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
}

  .block-checkbox:nth-child(n+2) {
    margin-left: 20px;
  }

  .custom-radio {
    position: absolute;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    visibility: hidden;
  }

  .popup-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
    width:  16px;
    height: 16px;
    transition: 0.2s;
    box-shadow: inset 0 0 0 8px #fff;
  }

  .popup-icon::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url(../svg/form-empty-circle.svg);
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 50%;
    margin-right: 10px;
  }

  .custom-radio:not(:disabled):active + .popup-icon::before {
    background-color: #b59f5b;
    border-color: #b59f5b;
  }

  .custom-radio:checked + .popup-icon::before {
    background-image: url(../svg/form-circle.svg);
  }

  .select-text {
    box-sizing: border-box;
    margin-top: 12px;
    border: none;
    background-color: #f4f7f6;
    outline: 0;
    max-width: 100%;
    min-height: 100px;
    padding-top: 12px;
    padding-left: 22px;
  }
  
  .select-label {
    font-size: 13px;
  }
  
  .header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    padding-top: 28px;
    padding-bottom: 7.45rem;
  }
  
  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
  }

  .noemi-logo  {
    display: inline-block;
    cursor: pointer;
    width: 179px;
  }

  .header-menu-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

     .header-blog {
    display: flex;
    text-transform: uppercase;
    line-height: 75px;
    color: #ffffff;
    justify-content: center;
  }
  
  .header-title {
    line-height: 1.7em;
    text-align: center;
  }
  
  .menu {
    display: flex;
    list-style: none;
    font-size: 13px;
    color: #ffffff;
  }

  .menu-button {
    position: relative;
    border: none;
    width: 0.9em;
    height: 0.6em;
    cursor: pointer;
    text-indent: -9999px;
    background-color: transparent;
    padding: 0;
    font-size: 25px;
    cursor: pointer;
  }

  .menu-button:before, .menu-button:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 3px;
    margin-top: -0.06em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .menu-list-item {
    display: inline-block;
    text-transform: uppercase;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 1.9rem;
  }
  
  .menu-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-link:hover {
    text-decoration: underline;
  }

  .trend {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
  }
  
  .trend-name {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .trend-name:after {
    content: "";
    display: block;
    height: 3px;
    width: 67px;
    margin: 0.5rem auto 1.7rem auto;
    background-color: #e1d9bd;
  }

  .trend-list {
    display: flex;
  }

  .trend-block-img {
    display: flex;
    align-items: flex-end;
    position: relative;  
    flex-grow: 1;
  }

  .trend-block-img:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
  }

  .trend-img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    
  }

  .trend-block {
    position: absolute;
    border: 3px solid #93855c;
    padding: 7%;
    z-index: 1;
    box-sizing: border-box;
    margin: 1.6rem;
    max-height: 85%;
    overflow-x: hidden;
  }

  .article-trend-link {
    font-size: 14px;
    color: #b59f5b;
    text-decoration: none;
    cursor: pointer;
  }

  .article-trend-link:hover {
    text-decoration: underline;
  }

  .article-trend {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  .article-tag:not(:last-child) {
    margin-right: 20px;
  }

  .trend-item-name {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    margin-top: 6px;
  }

  .trend-item-name-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .trend-item-name-link:hover {
    color: #b59f5b;
  }

  .container.main-aside {
    margin-top: 3.3rem;
    display: flex;
  }

  .container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
  }
  
  .news-item {
    display: flex;
    margin-bottom: 55px;
  }
  
  .news-item-image {
    box-sizing: border-box;
    position: relative;
  }
  
  .news-item-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background-color: #eff6f1;
    opacity: 1;
    z-index: -1;
  }

  .news-item-name-link:hover {
    text-transform: uppercase;
    color: #b59f5b;
  }

  .news-img {
    width: 100%;
    background-size: 100% 100%;
  }
  
  .article-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:7px;
  }
  
  .article-tag-link {
    font-size: 14px;
    color: #b59f5b;
    text-decoration: none;
    cursor: pointer;
  }

  .article-tag-link:hover {
    text-decoration: underline;
  }
  
  .news-item-name {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 15px;
  }
  
  .news-item-name-link {
    color: #0f0d0e;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .news-item-time {
    font-size: 12px;
    color: #888888;
  }
  
  .news-item-author {
    display: inline-block;
    margin-bottom: 35px;
    margin-left: 13px;
    line-height: 40px;
    font-size: 12px;
    color: #000000;
  }
  
  .news-item-description {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin-bottom: 10px;
  }
  
  .news-posts {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    text-align: center;
  }
  
  .news-posts:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 10px auto 28px auto;
    background-color: #e1d9bd;
  }
  
  .post {
    display: flex;
  }
  
  .post:nth-child(n + 2) {
    margin-top: 17px;
  }
  
  .post-image {
    position: relative;
    margin-right: 18px;
  }
  
  .post-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: #f4f7f6;
    opacity: 1;
    z-index: -1;
  }
  
  .post-info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 1px;
  }
  
  .post-time {
    font-size: 12px;
    color: #888888;
  }
  
  .post-title {
    line-height: 18px;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .post-title-link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }

  .search-group {
    width: 100%;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    font-size: 0
  }
  
  .field {
    box-sizing: border-box;
    padding-left: 14px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 53px;
  }

  .field:hover {
    border: 1px solid #b59f5b;
  }
  
  .button-search {
    width: 48px;
    height: 48px;
    color: #ffffff;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .button-search:hover {
    background-color: #313131;
  }

  .mailing-form {
    margin-top: 3.6rem;
    width: 100%;
  }
  
  .mailing-text {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #0f0d0e;
  }
  
  .mailing-text:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 10px auto 20px auto;
    background-color: #e1d9bd;
  }
  
  .mailing {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 1px;
  }
  
  .button {
    width: 100%;
    height: 48px;
    color: #ffffff;
    border: none;
    background-color: #b59f5b;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .button:hover {
    background-color: #313131;
  }
  
  .block-tags {
    margin-top: 55px;
  }
  
  .tag-title {
    text-align: center;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tag-title:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 10px auto 25px auto;
    background-color: #e1d9bd;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .tag-name {
    margin-right: 7px;
    margin-bottom: 5px;
  }
  
  .tag-link {
    display: block;
    font-size: 12px;
    color: #0f0d0e;
    border: 3px solid #ededed;
    padding: 3px 11px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .tag-link:hover {
    border: 3px solid #b59f5b;
  }
  
  .tag-link:nth-child(n + 4) {
    margin-top: 6px;
  }
  
  .topics {
    list-style: none;
  }
  
  .topics-block {
    margin-top: 55px;
  }
  
  .topics-title {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .topics-title:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 10px auto 12px auto;
    background-color: #e1d9bd;
  }
  
  .topics {
    display: inline;
  }
  
  .topic {
    border-bottom: 1px solid #eeeeee;
    padding-top: 12px;
    padding-bottom: 10px;
  }
  
  .topic-link {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
  }

  .topic-link:hover {
    color: #b59f5b;
  }
  
  .articles {
    color: #b59f5b;
    font-size: 12px;
    vertical-align: super;
    font-weight: bold;
  }

  .products {
    margin-top: 60px;
  }

  .products-header {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .products-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 67px;
    margin: 10px auto 28px auto;
    background-color: #e1d9bd;
  }

  .product-block {
    display: flex;
    flex-direction: column;
  }

  .product-block:first-child {
    padding-left: 15px;
  }

  .product-block:last-child {
    padding-right: 15px;
  }

  .product-blocks {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .product-body {
    border: 3px solid #b59f5b;
    z-index: 1;
    position: relative;
    padding: 50px 21px 26px 21px;
    margin-top: -40px;
    flex-grow: 1;
  }

  .product-title {
    margin-bottom: 5px;
  }

  .product-header {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
  }

  .product-description {
    text-align: left;
    margin-bottom: 20px;
  }

  .product-info {
    font-size: 15px;
    color: #0f0d0e;
    font-weight: normal;
  }

  .product-imgbox {
    display: flex;
    justify-content: center;
  }

  .product-img {
    z-index: 0;
    position: relative;
    top: 0;
  }

  .product-description-link {
    text-decoration: none;
    color: #b59f5b;
    cursor: pointer;
  }

  .product-description-link:hover {
    text-decoration: underline;
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-prices {
    display: flex;
    flex-direction: column;
  }

  .product-price-old {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: bold;
  }

  .product-price {
    color: #0f0d0e;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
  }

  .product-button {
    background-color: #b59f5b;
    border: none;
    width: 140px;
    height: 48px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .product-button:hover {
    background-color: #313131;
  }
  
  .footer {
    margin-top: 64px;
    padding-bottom: 45px;
  }

  .footer-size {
    padding-left: 15px;
    padding-right: 15px;
  }

  .social-networks {
    display: flex;
    justify-content: center;
    background-color: #f4f7f6;
    padding-bottom: 28px;
    padding-top: 28px;
  }

  
  .social-icon-dribble {
    display: inline-block;
    background-image: url(../svg/001-dribbble.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  
  .social-icon-pinterest {
    display: inline-block;
    background-image: url(../svg/001-pinterest.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .social-icon-tumblr {
    display: inline-block;
    background-image: url(../svg/003-tumblr.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .social-link {
    margin-right: 12px;
    margin-left: 12px;
  }
  
  .copyright-link {
    text-align: center;
    margin-top: 62px;
    font-weight: bold;
  }
  
  .link {
    color: #999999;
    font-size: 12px;
  }